/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  .debug header{
      background-color: aqua;
  }

  .debug aside{
      background-color: black;
  }

  .debug .content{
      background-color: coral;
  }
  
  .debug footer{
      background-color: brown;
  }
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    display: grid;
    place-items: center;
    height: 100vh;
}

/*--- TYPO ---*/
h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem
}


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/
/*  */


.container{
    text-align: center;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px ;
    justify-content: center;
    align-items: center;
}

.list-button{
    grid-column: span 2;
}


